@keyframes open-settings-container {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
settings-container {
    width: 100vw;
    height: calc(100vh - var(--frame-height));

    position: absolute;
    top: var(--frame-height);
    left: 0;

    background: var(--gradient);
    animation: open-settings-container 150ms forwards;
    z-index: 5;
}
settings-container.hidden {
    display: none;
}

settings-container > .wrapper {
    max-width: 60rem;
    height: 100%;

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

settings-container > .wrapper > * {
    padding: 5rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
