ul.contextmenu,
ul.contextmenu ul.contextmenu-submenu-container {
    width: var(--contextmenu-width);

    padding: var(--contextmenu-padding);

    position: absolute;

    border: var(--default-border);
    border-radius: 0.7rem;

    background: var(--main-gradient);
    z-index: 20;
}
ul.contextmenu::before,
ul.contextmenu ul.contextmenu-submenu-container::before{
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: inherit;

    background-color: var(--bg-bo-8);
}

li.contextmenu-row-container {
    height: var(--contextmenu-row-height);

    padding: 0.4rem 1.3rem;

    position: relative;

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    
    font-size: 0.9rem;
    
    border-radius: 0.4rem;

    cursor: pointer;
}
li.contextmenu-row-container:has(.contextmenu-row-submenu-indicator) {
    grid-template-columns: 1fr auto;
}
li.contextmenu-row-container.disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}
li.contextmenu-row-container::after {
    content: "";

    width: calc(100% + var(--contextmenu-padding) * 2);
    height: 100%;

    position: absolute;
    top: 0;
    left: calc(var(--contextmenu-padding) * -1);
}
li.contextmenu-row-container:hover {
    background-color: var(--bg-wo-8);
}

ul.contextmenu span {
    white-space: nowrap;
}
span.contextmenu-row-shortcut {
    text-align: right;
    color: var(--text-col-2);
}
img.contextmenu-row-submenu-indicator {
    width: 1rem;
}

li.contextmenu-row-container:not(:hover) > ul.contextmenu-submenu-container {
    display: none;
}
ul.contextmenu-submenu-container {
    top: calc(var(--contextmenu-padding) * -1);
    left: calc(100% + var(--contextmenu-padding));
}
.right ul.contextmenu-submenu-container {
    left: calc(-100% - var(--contextmenu-padding) * 3 - 1px);
}
