li.playlist-wrapper.contextmenu-parent > .playlist-container {
    background-color: var(--bg-wo-4);
}

li.current-playlist-table-row.contextmenu-parent {
    background-color: var(--bg-bo-3);
}

li.song-container.contextmenu-parent {
    background-color: var(--bg-wo-5) !important;
}
