aside {
    padding: var(--main-boxes-padding);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--main-boxes-padding);
    background-color: var(--bg-col-3);
    overflow: visible;
}


aside > footer {
    position: relative;
    overflow: visible;
}
aside > header,
aside > footer {
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
aside > header > h2,
aside > footer > h2 {
    flex: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
aside > header > svg.folder *,
aside > footer > svg.songs * {
    stroke: var(--font-col-1);
}
aside > header > button.plus,
aside > footer > button.dots {
    cursor: pointer;
}
aside > header > button.plus > svg {
    width: 1.5rem;
}
aside > footer > button.dots > svg {
    width: 1.7rem;
}
aside > header > button.plus > svg *,
aside > footer > button.dots > svg * {
    fill: var(--font-col-1);
    transition: 200ms;
}
aside > header > button.plus:hover > svg *,
aside > footer > button.dots:hover > svg * {
    fill: var(--col-1);
}



aside > footer > ul#manage-songs-menu {
    bottom: 0;
    right: 0;
    transform: translateX(calc(100% + 0.5rem));
    display: none;
}
aside > footer > ul#manage-songs-menu.open {
    display: block;
}



aside > ul#playlists-container {
    overflow-y: scroll;
}
aside li.playlist > div.container {
    padding: 0.5rem 1.2rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
    transition: 150ms;
}
aside li.playlist > div.container:hover,
aside li.playlist > div.container.contextmenu-hover {
    background-color: var(--bg-col-6);
}
aside li.playlist > div.container > div.thumbnail {
    aspect-ratio: 1 / 1;
    height: 3.2rem;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.4rem;
}
aside li.playlist > div.container > p.arrow {
    font-weight: bold;
    transform: rotate(90deg);
}
aside li.playlist > div.container > p.arrow.show {
    transform: rotate(0deg);
}
aside li.playlist > div.container > div.details {
    flex: 1;
    margin-left: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.15rem;
}
aside li.playlist > div.container > div.details > h4 {
    font-weight: bold;
    transition: 150ms;
    text-overflow: ellipsis;
}
aside li.playlist > div.container:hover > div.details > h4 {
    color: var(--col-1);
}
aside li.playlist > div.container > div.details > h5 {
    color: var(--font-col-2);
}
aside li.playlist > ul.children-container {
    margin-left: 1rem;
    display: none;
}
aside li.playlist > ul.children-container.show {
    display: block;
}
