:root {
    /* SIZES */
    --frame-height: 2rem;
    --main-height: calc(100vh - var(--frame-height));
    --scrollbar-width: 0.5rem;
    --main-padding: 1.15rem;
    --loading-modal-spinner-width: 4px;
    --contextmenu-padding: 0.3rem;
    --contextmenu-width: 240px;
    --contextmenu-row-height: 29px;

    /* BG COLORS */
    --bg-bo-1: rgba(0,0,0,0.1);
    --bg-bo-2: rgba(0,0,0,0.2);
    --bg-bo-3: rgba(0,0,0,0.3);
    --bg-bo-4: rgba(0,0,0,0.4);
    --bg-bo-5: rgba(0,0,0,0.5);
    --bg-bo-6: rgba(0,0,0,0.6);
    --bg-bo-7: rgba(0,0,0,0.7);
    --bg-bo-8: rgba(0,0,0,0.8);
    --bg-bo-9: rgba(0,0,0,0.9);

    --bg-wo-1: rgba(255,255,255,0.01);
    --bg-wo-2: rgba(255,255,255,0.02);
    --bg-wo-3: rgba(255,255,255,0.03);
    --bg-wo-4: rgba(255,255,255,0.04);
    --bg-wo-5: rgba(255,255,255,0.05);
    --bg-wo-6: rgba(255,255,255,0.06);
    --bg-wo-7: rgba(255,255,255,0.07);
    --bg-wo-8: rgba(255,255,255,0.08);
    --bg-wo-9: rgba(255,255,255,0.09);
    --bg-wo-10: rgba(255,255,255,0.1);
    --bg-wo-20: rgba(255,255,255,0.2);
    --bg-wo-30: rgba(255,255,255,0.3);
    
    --bg-success-col: rgb(51,155,51);
    --bg-error-col: rgb(132,34,34);
    
    --main-col-1: rgb(17,115,89);
    --main-gradient: linear-gradient(45deg, rgb(11, 15, 11) 0%, rgb(21, 40, 38) 100%);

    /* TEXT COLORS */
    --text-opacity: 0.6;
    --text-col-1: rgba(255,255,255,var(--text-opacity));
    --text-col-2: rgba(255,255,255,0.4);
    --text-error-col: rgb(187,53,53);

    /* BORDER */
    --border-col-1: rgba(255,255,255,0.1);
    --default-border: 1px solid var(--border-col-1);
}

*, *::before, *::after {
    min-width: 0;
    min-height: 0;

    margin: 0;
    padding: 0;

    font-family: "Helvetica";
    color: var(--text-col-1);

    border: none;
    outline: none;

    box-sizing: border-box;
    background-color: transparent;
    user-select: none;
}

html {
    background: var(--main-gradient);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

button.disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}
button > img {
    cursor: pointer;
    transition: 150ms;
}
button > img:hover {
    opacity: 1;
}
img {
    width: 2rem;
    opacity: var(--text-opacity);
}

svg.fill, svg.fill * {
    fill: var(--text-col-1);
}

main {
    height: var(--main-height);
}

input {
    accent-color: var(--main-col-1);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4);
    border-radius: calc(var(--scrollbar-width) / 2);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.08);
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.15);
}
