:root {
    /* SIZES */
    --frame-height: 2rem;
    --main-height: calc(100vh - var(--frame-height));
    --scrollbar-width: 0.5rem;
    --main-padding: 1.15rem;

    /* BG COLORS */
    --bg-col-0: rgb(0,0,1);
    --bg-col-1: rgb(1,2,3);
    --bg-col-2: rgb(3,4,5);
    --bg-col-3: rgb(5,6,7);
    --bg-col-4: rgb(7,8,9);
    --bg-col-5: rgb(9,10,11);
    --bg-col-6: rgb(11,12,13);
    --bg-col-7: rgb(13,14,15);
    --bg-col-8: rgb(15,16,17);
    --bg-col-9: rgb(17,18,19);
    --bg-col-10: rgb(19,20,21);
    --bg-col-11: rgb(21,22,23);
    --bg-col-12: rgb(23,24,25);
    --bg-col-13: rgb(25,26,27);
    --bg-col-14: rgb(27,28,29);
    --bg-col-15: rgb(29,30,31);
    --bg-col-16: rgb(31,32,33);
    --bg-col-17: rgb(33,34,35);
    --bg-col-18: rgb(35,36,37);
    --bg-col-19: rgb(37,38,39);
    --bg-col-20: rgb(39,40,41);
    --bg-col-21: rgb(41,42,43);
    --bg-col-22: rgb(43,44,45);
    --bg-col-23: rgb(45,46,47);
    --bg-col-24: rgb(47,48,49);
    --bg-col-25: rgb(49,50,51);
    --bg-col-26: rgb(51,52,53);
    --bg-col-27: rgb(53,54,55);
    --bg-col-28: rgb(55,56,57);
    --bg-col-29: rgb(57,58,59);
    --bg-col-30: rgb(59,60,61);
    --bg-col-31: rgb(61,62,63);
    --bg-col-32: rgb(63,64,65);
    --bg-col-33: rgb(65,66,67);
    --bg-col-34: rgb(67,68,69);
    --bg-col-35: rgb(69,70,71);
    --bg-col-36: rgb(71,72,73);
    --bg-col-37: rgb(73,74,75);
    --bg-col-38: rgb(75,76,77);
    --bg-col-39: rgb(77,78,79);
    --bg-col-40: rgb(79,80,81);
    --bg-col-41: rgb(81,82,83);
    --bg-col-42: rgb(83,84,85);
    --bg-col-43: rgb(85,86,87);
    --bg-col-44: rgb(87,88,89);
    --bg-col-45: rgb(89,90,91);
    --bg-col-46: rgb(91,92,93);
    --bg-col-47: rgb(93,94,95);
    --bg-col-48: rgb(95,96,97);
    --bg-col-49: rgb(97,98,99);
    --bg-col-50: rgb(99,100,101);
    --bg-success-col: rgb(51,155,51);
    --bg-error-col: rgb(132,34,34);
    --col-1: rgb(31,114,198);

    /* TEXT COLORS */
    --text-opacity: 0.6;
    --text-col-1: rgba(255,255,255,var(--text-opacity));
    --text-col-2: rgba(255,255,255,0.4);

    /* BORDER */
    --border-col-1: rgba(255,255,255,0.15);
    --default-border: 1px solid var(--border-col-1);
}

*, *::before, *::after {
    min-width: 0;
    min-height: 0;

    margin: 0;
    padding: 0;

    font-family: "Helvetica";
    color: var(--text-col-1);

    border: none;
    outline: none;

    box-sizing: border-box;
    background-color: transparent;
    user-select: none;
}

html {
    background-color: var(--bg-col-1);
}

ul {
    list-style: none;
}

button > img {
    cursor: pointer;
    transition: 150ms;
}
button > img:hover {
    opacity: 1;
}
img {
    width: 2rem;
    opacity: var(--text-opacity);
}

svg.fill, svg.fill * {
    fill: var(--text-col-1);
}

main {
    height: var(--main-height);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
    background: var(--bg-col-21);
    border-radius: calc(var(--scrollbar-width) / 2);
}
::-webkit-scrollbar-thumb {
    background: var(--bg-col-36);
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-col-16);
}
