ul.contextmenu,
ul.contextmenu ul {
    min-width: 13rem;
    position: absolute;
    background-color: var(--bg-col-2);
    border-radius: 0.25rem;
    border: 1px solid var(--bg-col-4);
    overflow: visible;
    z-index: 10;
    transform: translateY(-1px);
}
ul.contextmenu ul {
    position: absolute;
    top: 0;
    left: 100%;
}
ul.contextmenu > li,
ul.contextmenu ul > li {
    padding: 0.6rem 0.8rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow: visible;
    font-size: 0.8rem;
}
ul.contextmenu > li:hover,
ul.contextmenu ul > li:hover {
    background-color: var(--bg-col-4);
}
ul.contextmenu li.disabled {
    pointer-events: none;
    opacity: 0.35;
}
ul.contextmenu li > p.shortcut {
    color: var(--font-col-2);
}
