header.frame {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--bg-col-2);
}



header.frame > div.drag-area {
    -webkit-app-region: drag;
}
header.frame > div.buttons-container {
    display: flex;
    -webkit-app-region: no-drag;
}



header.frame > div.buttons-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
}
header.frame > div.buttons-container > button:hover {
    background-color: rgba(255,255,255,0.2);
}



header.frame > div.buttons-container > button > svg {
    width: var(--frame-height);
    padding: 0.5rem;
}
header.frame > div.buttons-container > button > svg * {
    fill: var(--font-col-1);
}
