loading-screen {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;

    background-color: black;
    transition: opacity 300ms;
    z-index: 50;
}



loading-screen.closing {
    opacity: 0;
    pointer-events: none;
}
