@import url("variables.css");
@import url("base.css");
@import url("themes.css");
@import url("frame.css");
@import url("utils/utils.css");
@import url("utils/input-select.css");
@import url("contextmenus/contextmenu.css");
@import url("contextmenus/contextmenu.parents.css");
@import url("maintenance.css");
@import url("loading-screen.css");
@import url("settings/settings.css");
@import url("settings/settings.aside.css");
@import url("settings/settings.section.css");
@import url("settings/settings.account.css");
@import url("settings/settings.apparence.css");
@import url("tabs/tabs.css");
@import url("tabs/left-tab.css");
@import url("tabs/right-tab.css");
@import url("tabs/bottom-tab.css");
@import url("modals/modal.center.css");
@import url("modals/modal.center.search.css");
@import url("modals/modal.loading.css");
@import url("modals/modal.top.css");
