div#success-modal,
div#error-modal {
    padding: 2rem 3rem;
    background-color: var(--bg-col-2);
    border-radius: 1rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 700ms ease-out, opacity 500ms;
    cursor: pointer;
    z-index: 100;
}
div#success-modal {
    border: 3px solid var(--bg-col-success);
}
div#error-modal {
    border: 3px solid var(--bg-col-error);
}
div#success-modal.show,
div#error-modal.show {
    top: 5rem;
}
div#success-modal.closing,
div#error-modal.closing {
    opacity: 0;
}



div.top-modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 100;
    overflow: visible;
}
div.top-modal-container > div.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    transition: transform 600ms;
}
div.top-modal-container > div.modal.open {
    transform: translateY(100%);
}
div.top-modal-container > div.modal > div {
    padding: 3rem 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}



div.top-modal-container > div.modal input[type="file"] {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    z-index: -10;
    border-radius: 0px;
}
div.top-modal-container > div.modal input[type="file"].active {
    display: block;
    z-index: 2;
}
div.top-modal-container > div.modal input[type="file"] + div.drag-zone {
    width: 100vw;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: transparent;
    opacity: 0;
    transition: opacity 300ms;
}
div.top-modal-container > div.modal input[type="file"].active + div.drag-zone {
    height: 100vh;
    opacity: 1;
    background-color: var(--col-1);
    z-index: 1;
}



div.top-modal-container > div.modal h2 {
    font-size: 2rem;
}
div.top-modal-container > div.modal input {
    width: 40vw;
    padding: 0.5rem 0.8rem;
    font-size: 2rem;
    border-radius: 0.6rem;
}
div.top-modal-container > div.modal div.button-container {
    display: flex;
    gap: 1.5rem;
}
div.top-modal-container > div.modal button {
    padding: 0.4rem 0.7rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: filter 200ms;
}
div.top-modal-container > div.modal button.confirm {
    background-color: var(--bg-col-success);
}
div.top-modal-container > div.modal button.error {
    background-color: var(--bg-col-error);
}
div.top-modal-container > div.modal p.message {
    font-size: 1.5rem;
    white-space: pre-line;
    text-align: center;
    line-height: 2.3rem;
}
div.top-modal-container > div.modal p.success {
    color: var(--font-col-success);
}
div.top-modal-container > div.modal p.error {
    color: var(--font-col-error);
}
div.top-modal-container > div.modal ul {
    width: 40vw;
    max-height: 40vh;
    overflow-y: scroll;
}
div.top-modal-container > div.modal ul > li {
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: 100ms;
    cursor: pointer;
}
div.top-modal-container > div.modal ul > li.hidden {
    display: none;
}
div.top-modal-container > div.modal ul > li:hover {
    background-color: var(--bg-col-2);
}
div.top-modal-container > div.modal ul > li > input[type=checkbox] {
    width: 1.4rem;
    height: 1.4rem;
}
div.top-modal-container > div.modal ul > li > p {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.top-modal-container > div.modal div.fake-drag-zone {
    width: 40rem;
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    border: 3px dashed rgba(255,255,255,0.2);
    border-radius: 1rem;
    transition: 200ms;
    cursor: pointer;
}
div.top-modal-container > div.modal div.fake-drag-zone:hover {
    border-color: var(--col-1);
}
div.top-modal-container > div.modal div.fake-drag-zone.contains-file {
    border: 3px solid var(--col-1);
}




div.right-modal-container {
    width: 30rem;
    height: calc(100vh - var(--frame-height) - var(--header-height));
    position: absolute;
    top: calc(var(--frame-height) + var(--header-height));
    right: -30rem;
    z-index: 99;
    overflow: visible;
}
div.right-modal-container > div.modal {
    width: 100%;
    height: 100%;
    padding: var(--main-boxes-padding);
    position: absolute;
    top: 0;
    left: 0;
    gap: 1rem;
    background-color: var(--bg-col-3);
    transition: transform 600ms;
}
div.right-modal-container > div.modal.open {
    transform: translateX(-100%);
}
div.right-modal-container > #queue-modal {
    display: grid;
    grid-template-rows: auto 1fr;
}
div.right-modal-container > #queue-modal > ul {
    overflow-y: scroll;
    background-color: var(--bg-col-8);
    border-radius: 0.5rem;
}
div.right-modal-container > #queue-modal > ul > li {
    padding: 0.7rem 0.9rem;
    display: flex;
    gap: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
}
div.right-modal-container > #queue-modal > ul > li:hover {
    background-color: var(--bg-col-2);
}
div.right-modal-container > #queue-modal > ul > li > p {
    font-size: 0.9rem;
}
div.right-modal-container > #queue-modal > ul > li > p.details {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}
div.right-modal-container > #queue-modal > ul > li > p:not(.details) {
    overflow: visible;
}
div.right-modal-container > #queue-modal > ul > li:hover > p {
    color: var(--col-1);
}
