div#error-modal {
    padding: 2rem 3rem;
    background-color: var(--bg-col-2);
    border: 3px solid var(--bg-col-error);
    border-radius: 1rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 700ms ease-out, opacity 500ms;
    cursor: pointer;
    z-index: 100;
}
div#error-modal.show {
    top: 5rem;
}
div#error-modal.closing {
    opacity: 0;
}



div.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    transition: transform 600ms;
    transform: translateY(-100%);
    z-index: 10;
}
div.modal.open {
    transform: translateY(0%);
}
div.modal > div {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}



div.modal input[type="file"] {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    z-index: -1;
}
div.modal input[type="file"].active {
    display: block;
    z-index: 2;
}
div.modal input[type="file"] + div.drag-zone {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: transparent;
    opacity: 0;
    transition: 300ms;
    z-index: -1;
}
div.modal input[type="file"].active + div.drag-zone {
    opacity: 1;
    background-color: var(--col-1);
    z-index: 1;
}



div.modal h2 {
    font-size: 2rem;
}
div.modal input {
    width: 40vw;
    padding: 0.5rem 0.8rem;
    font-size: 2rem;
    border-radius: 0.6rem;
}
div.modal div.button-container {
    display: flex;
    gap: 1.5rem;
}
div.modal button {
    padding: 0.4rem 0.7rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: filter 200ms;
}
div.modal button:hover {
    filter: brightness(130%);
}
div.modal button.confirm {
    background-color: var(--bg-col-success);
}
div.modal button.error {
    background-color: var(--bg-col-error);
}
div.modal p {
    font-size: 1.5rem;
}
div.modal p.success {
    color: var(--font-col-success);
}
div.modal p.error {
    color: var(--font-col-error);
}
div.modal ul {
    width: 40vw;
    height: 40vh;
    overflow-y: scroll;
}
div.modal ul > li {
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    white-space: nowrap;
    transition: 100ms;
    cursor: pointer;
}
div.modal ul > li.hidden {
    display: none;
}
div.modal ul > li:hover {
    background-color: var(--bg-col-2);
}
div.modal ul > li > input[type=checkbox] {
    width: 2rem;
}
