div#error-modal {
    padding: 2rem 3rem;
    background-color: var(--bg-col-2);
    border: 3px solid rgb(132, 34, 34);
    border-radius: 1rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 700ms ease-out, opacity 500ms;
    cursor: pointer;
}
div#error-modal.show {
    top: 5rem;
}
div#error-modal.closing {
    opacity: 0;
}