* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(10,11,12);
    -webkit-app-region: drag;
    overflow: hidden;
}
svg {
    width: 30px;
}
svg.hidden {
    display: none;
}
article.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
article.details > h2 {
    font-size: 1.3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}
article.controls {
    align-self: center;
}
