:root {
    --accent-color-theme-0: rgb(177, 177, 177);
    --gradient-theme-0: linear-gradient(45deg, rgb(12, 12, 12) 0%, rgb(47, 47, 47) 100%);

    --accent-color-theme-1: rgb(66, 83, 179);
    --gradient-theme-1: linear-gradient(45deg, rgb(11, 11, 15) 0%, rgb(21, 22, 40) 100%);

    --accent-color-theme-2: rgb(17,115,89);
    --gradient-theme-2: linear-gradient(45deg, rgb(11, 15, 11) 0%, rgb(21, 40, 38) 100%);

    --accent-color-theme-3: rgb(95, 60, 153);
    --gradient-theme-3: linear-gradient(45deg, rgb(13, 11, 15) 0%, rgb(30, 21, 40) 100%);

    --accent-color-theme-4: rgb(166, 61, 61);
    --gradient-theme-4: linear-gradient(45deg, rgb(15, 11, 11) 0%, rgb(40, 21, 21) 100%);

    --accent-color-theme-5: rgb(151, 51, 96);
    --gradient-theme-5: linear-gradient(45deg, rgb(38, 22, 53) 0%, rgb(79, 24, 37) 100%);
}

html[theme="0"] {
    --accent-color: var(--accent-color-theme-0);
    --gradient: var(--gradient-theme-0);
}

html[theme="1"] {
    --accent-color: var(--accent-color-theme-1);
    --gradient: var(--gradient-theme-1);
}

html[theme="2"] {
    --accent-color: var(--accent-color-theme-2);
    --gradient: var(--gradient-theme-2);
}

html[theme="3"] {
    --accent-color: var(--accent-color-theme-3);
    --gradient: var(--gradient-theme-3);
}

html[theme="4"] {
    --accent-color: var(--accent-color-theme-4);
    --gradient: var(--gradient-theme-4);
}

html[theme="5"] {
    --accent-color: var(--accent-color-theme-5);
    --gradient: var(--gradient-theme-5);
    --border-col-1: rgb(0, 0, 0);
}
