.bottom-tab {
    padding: var(--main-padding) calc(var(--main-padding) * 1.5);
    
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: calc(var(--main-padding) * 1.5);

    border-top: var(--default-border);
    
    background-color: var(--bg-bo-6);
}

.main-controls-container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.main-control-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

#toggle-shuffle-button > img,
#toggle-loop-button > img {
    width: 1.3rem;
}
#toggle-shuffle-button > img[shuffle="true"],
#toggle-loop-button > img[loop="true"] {
    opacity: 1;
}
#previous-song-button > img,
#next-song-button > img {
    width: 1.8rem;
}
#play-song-button > img,
#pause-song-button > img {
    width: 2rem;
}

#toggle-shuffle-button[shuffle="false"] > [shuffle="true"],
#toggle-shuffle-button[shuffle="true"] > [shuffle="false"],
#toggle-loop-button[loop="false"] > [loop="true"],
#toggle-loop-button[loop="true"] > [loop="false"],
#toggle-play-button[playing="false"] > [playing="true"],
#toggle-play-button[playing="true"] > [playing="false"] {
    display: none;
}

.song-slider-container {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    align-items: center;
    gap: 0.4rem;
}
.song-slider-container > p {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-col-2);
}
.bottom-tab:has(#current-song-title:empty) .song-slider-container > input[type="range"] {
    pointer-events: none;
}

.secondary-controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#speed-button > img {
    width: 1.4rem;
}
#queue-button > img {
    width: 1.6rem;
    position: relative;
    top: -0.1rem;
}
#toggle-song-volume-button > img {
    width: 1.5rem;
}

.volume-controls-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#toggle-song-volume-button[volume="0"] > :not([volume="0"]),
#toggle-song-volume-button[volume="1"] > :not([volume="1"]),
#toggle-song-volume-button[volume="2"] > :not([volume="2"]) {
    display: none;
}

.current-song-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}
#current-song-title {
    font-size: 1.2rem;
}
#current-song-artist {
    font-size: 0.9rem;
    color: var(--text-col-2);
    font-weight: normal;
}
