.left-tab {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--main-padding);

    border-right: var(--default-border);

    background-color: var(--bg-col-14);
}

.left-tab > header,
.left-tab > footer {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    align-items: center;
    gap: 0.7rem;
}

.left-tab > header > h2,
.left-tab > footer > h2 {
    font-size: 1.3rem;
}

.music-note-img,
.folder-img {
    width: 1.9rem;
}
#add-playlist-button > img,
#song-settings-button > img {
    width: 1.5rem;
}

#playlists-container {
    overflow-y: scroll;
}

.playlist-wrapper {
    transition: 500ms;
}
.playlist-wrapper.spawn {
    transform: translateX(-50%);
    opacity: 0;
}

.playlist-container {
    padding: 0.5rem;
    padding-right: 1rem;

    position: relative;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.8rem;

    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;

    background-color: var(--bg-col-14);
    z-index: 2;
    cursor: pointer;
    transition: 150ms;
}
.playlist-container:hover {
    background-color: var(--bg-col-11);
}

.playlist-container > .thumbnail {
    width: 3rem;
    height: 3rem;

    border-radius: 0.5rem;
    
    background-color: var(--bg-col-5);
}
.playlist-container > .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;

    font-size: 1.1rem;
}
.playlist-container > .details-container > h3 {
    font-size: 1.1rem;
}
.playlist-container > .details-container > span {
    color: var(--text-col-2);
    font-weight: normal;
    font-size: 0.8rem;
}
.playlist-container > .indicator {
    width: 1.5rem;

    transition: 150ms;
}
.playlist-container.opened > .indicator {
    rotate: 90deg;
}

.children-container {
    max-height: 500vh;
    margin-left: 1rem;

    overflow: hidden;

    opacity: 1;
    transition: 350ms;
}

.children-container:empty {
    display: none;
}

.playlist-container:not(.opened) + .children-container {
    max-height: 0;
    transform: translateY(-100%);
    opacity: 0;
}
