.left-tab {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;

    border-right: var(--default-border);

    background-color: var(--bg-bo-1);
}



.left-tab > header {
    border-bottom: var(--default-border);
}
.left-tab > footer {
    border-top: var(--default-border);
}



.left-tab > :is(header, footer) {
    padding: var(--main-padding);

    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    align-items: center;
    gap: 0.7rem;

    background-color: var(--bg-bo-3);
}



.left-tab > :is(header > h2, footer > h2) {
    font-size: 1.3rem;
}



.music-note-img,
.folder-img {
    width: 1.9rem;
}
#add-playlist-button > img,
#song-settings-button > img {
    width: 1.5rem;
}



#playlists-container {
    padding: calc(var(--main-padding) * 0.65);
    padding-right: 0;

    overflow-y: scroll;
}



.playlist-wrapper {
    position: relative;

    transition: 500ms;
    overflow: hidden;
}
.playlist-wrapper.spawn {
    transform: translateX(-50%);
    opacity: 0;
}
.playlist-wrapper.insert-after::before,
.playlist-wrapper.insert-before::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}
.playlist-wrapper.insert-after::before {
    border-bottom: 2px solid rgb(150,150,150);
}
.playlist-wrapper.insert-before::before {
    border-top: 2px solid rgb(150,150,150);
}



.playlist-container {
    padding: 0.5rem;
    padding-right: 1rem;

    position: relative;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.8rem;

    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;

    z-index: 2;
    cursor: pointer;
    transition: 150ms;
}
.playlist-container:hover {
    background-color: var(--bg-wo-4);
}
.playlist-container.pre-move {
    cursor: grab;
}
.playlist-container.locked {
    opacity: 0.5;
    background-color: var(--bg-bo-4);
}
.playlist-container.moving {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 0.7rem;

    background: var(--main-gradient);
    transition: 0ms;
    cursor: grabbing;
}
.playlist-container.moving::after {
    content: "";

    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    border: var(--default-border);
    border-radius: inherit;

    background-color: var(--bg-wo-3);
    z-index: -1;
}



.playlist-container > .thumbnail {
    width: 3rem;
    height: 3rem;

    border-radius: 0.5rem;
    
    background-color: var(--bg-bo-8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.playlist-container > .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;

    font-size: 1.1rem;
}
.playlist-container > .details-container > h3 {
    font-size: 1.1rem;
}
.playlist-container > .details-container > span {
    color: var(--text-col-2);
    font-weight: normal;
    font-size: 0.8rem;
}
.playlist-container > .indicator {
    width: 1.5rem;

    transition: 150ms;
}
.playlist-container.opened > .indicator {
    rotate: 90deg;
}



.children-container {
    max-height: 500vh;
    margin-left: 1rem;

    overflow: hidden;

    opacity: 1;
    transition: 350ms;
}



.children-container:empty {
    display: none;
}



.playlist-container:not(.opened) + .children-container {
    max-height: 0;
    transform: translateY(-100%);
    opacity: 0;
}
