@keyframes open-settings-container {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
settings-container {
    width: 100vw;
    height: calc(100vh - var(--frame-height));

    position: absolute;
    top: var(--frame-height);
    left: 0;

    background: var(--main-gradient);
    animation: open-settings-container 150ms forwards;
    z-index: 50;
}
settings-container.hidden {
    display: none;
}



settings-container ::-webkit-scrollbar {
    display: none;
}



settings-container > .wrapper {
    max-width: 60rem;
    height: 100%;

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

settings-container > .wrapper > * {
    padding: 5rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}



settings-container aside {
    padding-left: 10vw;

    position: relative;

    border-right: var(--default-border);

    background-color: var(--bg-bo-2);
}
settings-container aside::before {
    content: "";

    width: 30vw;
    height: 100%;

    position: absolute;
    top: 0;
    left: -30vw;

    background-color: var(--bg-bo-2);
}



settings-container aside > h1 {
    padding-inline: 0.8rem;
}



ul.settings-menus-container > li {
    padding: 0.5rem 0.8rem;

    border-radius: 0.5rem;

    cursor: pointer;
    transition: 150ms;
}
ul.settings-menus-container > :is(li.selected, li:hover) {
    background-color: var(--bg-bo-5);
}



settings-container .col {
    display: flex;
    flex-direction: column;
}
settings-container .row {
    display: flex;
}
settings-container button {
    padding: 0.7rem 1.3rem;

    border-radius: 0.6rem;

    cursor: pointer;
    transition: 200ms;
}
settings-container .dark-container {
    padding: 1rem 1.3rem;

    border-radius: 0.8rem;

    background-color: var(--bg-bo-2);
}






settings-container section {
    padding-right: 10vw;

    display: flex;
    flex-direction: column;

    overflow-x: visible;
    overflow-y: auto;
}
settings-container section > article {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    border-radius: 1rem;

    background-color: var(--bg-bo-2);
    overflow: hidden;
}
settings-container section > article > ul {
    padding: 1.3rem;
}

.setting-section-container > h1 {
    padding: 1rem 1.5rem;

    font-size: 1.7rem;

    background-color: var(--bg-bo-3);
}



.settings-account-details-container {
    gap: 1rem;
}

.settings-account-details-container > li.edit {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    gap: 0.3rem;
}

.settings-account-details-container > li.edit > p:first-of-type {
    font-weight: bold;
}

.settings-account-details-container > li.edit > button {
    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;

    background-color: var(--bg-bo-5);
}
.settings-account-details-container > li.edit > button:hover {
    background-color: var(--bg-wo-10);
}

.remove-account-button {
    border: 1px solid var(--bg-error-col);
}
.remove-account-button:hover {
    color: white;

    background-color: var(--bg-error-col);
}



.settings-apparence-container,
.settings-template-container {
    gap: 1rem;
}

.settings-template-container > .templates-container {
    gap: 1rem;
}
.settings-template-container > .templates-container > li {
    width: 4rem;
    aspect-ratio: 1 / 1;

    border: 1px solid red;
    border-radius: 0.5rem;
}
.settings-template-container > .templates-container > li:has(input:checked) {
    background-color: red;
}
.settings-template-container > .templates-container > li > input {
    width: 100%;
    height: 100%;
    
    opacity: 0;
    cursor: pointer;
}

.settings-custom-container {
    gap: 1rem;
}
