ul.search-result-container {
    height: 30rem;

    display: flex;
    flex-direction: column;
    gap: 0;

    overflow-y: scroll;
}



li.video-container-element {
    flex: 1 0 auto;

    padding: 0.7rem;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.8rem;
}



li.video-container-element > .thumbnail {
    aspect-ratio: 16 / 9;

    border-radius: 0.4rem;
}



.video-detail-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 0.3rem;
}



h1.video-title {
    max-height: 2.4rem;

    font-size: 1rem;
    line-height: 1.2rem;

    overflow: hidden;
}

h2.video-channel {
    font-size: 0.85rem;
    font-weight: normal;
    color: var(--text-col-2);
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.video-detail-container > button {
    padding: 0.5rem 0.8rem;

    border-radius: 0.5rem;

    background-color: var(--bg-bo-9);
    cursor: pointer;
    transition: 150ms;
}
.video-detail-container > button:hover  {
    background-color: var(--bg-wo-20);
}
