ul.search-result-container {
    height: 30rem;

    display: flex;
    flex-direction: column;
    gap: 0;

    overflow-y: scroll;
}



li.video-container-element {
    flex: 1 0 auto;

    padding: 0.7rem;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.8rem;
}



li.video-container-element > .thumbnail {
    aspect-ratio: 16 / 9;

    border-radius: 0.4rem;
}



.video-detail-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}



h1.video-title {
    font-size: 1rem;
}

h2.video-channel {
    font-size: 0.85rem;
    font-weight: normal;
}

footer.video-button-container {
    margin-top: auto;

    display: flex;
    justify-content: end;
    gap: 1rem;
}
footer.video-button-container > button {
    padding: 0.5rem 0.8rem;

    border-radius: 0.5rem;

    background-color: var(--bg-bo-9);
    cursor: pointer;
    transition: 150ms;
}
footer.video-button-container > button:hover  {
    background-color: var(--bg-wo-20);
}
