/* MAIN MODAL */
@keyframes center-modal-container-opening {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.center-modal-container {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-bo-2);
    z-index: var(--main-modal-index);
    animation: center-modal-container-opening 500ms forwards;
}
@keyframes center-modal-container-closing {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.center-modal-container.closing {
    animation: center-modal-container-closing var(--center-modal-closing-duration) forwards;
}



@keyframes center-modal-opening {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.center-modal {
    width: 35rem;

    position: relative;

    border-radius: 0.7rem;
    border: var(--default-border);

    background: var(--main-gradient);
    box-shadow: 0 0 1rem black;
    animation: center-modal-opening 500ms forwards;
}
@keyframes center-modal-closing {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10rem); }
}
.closing > .center-modal {
    animation: center-modal-closing var(--center-modal-closing-duration) forwards;
}
.center-modal::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: inherit;

    background-color: var(--bg-bo-6);
    z-index: -1;
}



.center-modal > h1 {
    padding: 1rem 1.2rem;
    padding-right: 2.5rem;

    font-size: 1.2rem;

    border-bottom: var(--default-border);
}
.center-modal > div.container {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/* CLOSE BUTTON */
button.close-button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;

    cursor: pointer;
}
button.close-button > img {
    width: 2rem;
    height: 2rem;
}



/* CONTENT */
.center-modal > .container > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.center-modal > .container > ul > li {
    display: grid;
    grid-template-columns: 8rem 1fr;
    align-items: center;
    row-gap: 0.5rem;
}
.center-modal input {
    padding: 0.4rem 0.6rem;

    border-radius: 0.6rem;

    background-color: var(--bg-bo-8);
}
.center-modal input:focus {
    box-shadow: inset 0 0 0 1px var(--border-col-1);
}
.center-modal > .container > ul > li:has(error) input {
    border: 1px solid var(--bg-error-col);
}
.center-modal input-file-container {
    height: 5rem;

    position: relative;

    overflow: hidden;
}
.center-modal input-file-container > * {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    
    cursor: pointer;
}
.center-modal input-file-container > input {
    height: calc(100% + 3rem);

    position: absolute;
    top: -3rem;

    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
.center-modal input-file-drop-area {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    border-radius: 0.6rem;
    border: 1px dashed var(--bg-wo-30);

    background-color: var(--bg-bo-8);
    transition: 150ms;
}
.center-modal li:has(error) input-file-drop-area {
    border: 1px dashed var(--bg-error-col);
}
.center-modal input-file-drop-area.has-file {
    border-style: solid;
}
.center-modal input-file-drop-area.has-file,
.center-modal input-file-drop-area.dragover,
.center-modal input-file-container:has(input:focus) input-file-drop-area,
.center-modal input-file-container:hover > input-file-drop-area {
    border-color: var(--main-col-1);
}
.center-modal error {
    color: var(--text-error-col);
    grid-column: 2;
}



/* BUTTON */
.center-modal > .container > div.button-container {
    display: flex;
    align-items: center;

    gap: 0.5rem;
}
.center-modal > .container > div.button-container > button {
    padding: 0.5rem 0.8rem;

    border-radius: 0.5rem;

    background-color: var(--bg-bo-9);
    cursor: pointer;
}
.center-modal > .container > div.button-container > button:focus,
.center-modal > .container > div.button-container > button:hover {
    background-color: var(--bg-wo-20);
}
.center-modal > .container > div.button-container > button.confirm-button:focus,
.center-modal > .container > div.button-container > button.confirm-button:hover {
    background-color: var(--bg-success-col);
}
.center-modal > .container > div.button-container > button.cancel-button:focus,
.center-modal > .container > div.button-container > button.cancel-button:hover {
    background-color: var(--bg-error-col);
}
