top-modal-container {
    min-width: 20rem;
    max-width: 70vw;

    padding: 1rem;

    position: absolute;
    top: calc(var(--frame-height) + 1rem);
    left: 50%;

    text-align: center;
    line-height: 1.4rem;

    border: 1px solid transparent;
    border-radius: 0.8rem;

    overflow: hidden;
    box-shadow: 0 0 1rem black;
    background: var(--gradient);
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 30;
}
top-modal-container::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--bg-bo-6);
    z-index: -1;
}

top-modal-container.success {
    border-color: var(--bg-success-col);
}
top-modal-container.error {
    border-color: var(--bg-error-col);
}

@keyframes top-modal-container-closing {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
top-modal-container.closing {
    animation: top-modal-container-closing var(--top-modal-closing-duration) forwards;
}
