.search > .center-modal {
    width: 50rem;
}
.center-modal-container.search input {
    font-size: 1.2rem;
}

ul.search-result-container {
    height: 60vh;

    overflow-y: scroll;
}





ul.search-result-container:has(li.video-container) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li.video-container {
    flex: 1 0 auto;
    
    margin-right: 0.8rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;

    border-radius: 0.9rem;

    background-color: var(--bg-bo-4);
}



ul.search-result-container > li.video-container > .thumbnail {
    --play-button-size: 5rem;
    
    aspect-ratio: 16 / 9;

    position: relative;

    border-radius: 0.4rem;

    cursor: pointer;
    background-size: 100%;
    transition: 400ms;
}
ul.search-result-container > li.video-container:not(:has(footer.hidden)) > .thumbnail {
    cursor: default;
}
ul.search-result-container > li.video-container > .thumbnail:hover {
    background-size: 120%;
}
ul.search-result-container > li.video-container:has(footer.hidden) > .thumbnail::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--bg-bo-2);
}
ul.search-result-container > li.video-container:has(footer.hidden) > .thumbnail::after {
    content: "";

    width: 0;
    height: 0;

    position: absolute;
    top: calc(50% - 1.4rem);
    left: calc(50% - 0.75rem);

    border: 1.5rem solid transparent;
    border-left: 2rem solid white;
}



ul.search-result-container > li.video-container > .video-detail-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 0.5rem;
}

ul.search-result-container > li.video-container > .video-detail-container > h1.video-title {
    max-height: 3rem;

    font-size: 1.2rem;
    line-height: 1.5rem;

    overflow: hidden;
}

ul.search-result-container > li.video-container > .video-detail-container > h2.video-channel {
    font-size: 0.85rem;
    font-weight: normal;
    color: var(--text-col-2);
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

ul.search-result-container > li.video-container > .video-detail-container > button {
    padding: 0.5rem 0.8rem;

    border-radius: 0.5rem;

    background-color: var(--bg-bo-9);
    cursor: pointer;
    transition: 150ms;
}
ul.search-result-container > li.video-container > .video-detail-container > button:hover  {
    background-color: var(--bg-wo-20);
}



ul.search-result-container > li.video-container > footer.song-player-container {
    grid-column: span 2;

    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    align-items: center;
    gap: 0.8rem;

}
ul.search-result-container > li.video-container > footer.song-player-container.hidden {
    display: none;
}

ul.search-result-container > li.video-container > footer.song-player-container > button[playing="true"] > [playing="false"],
ul.search-result-container > li.video-container > footer.song-player-container > button[playing="false"] > [playing="true"] {
    display: none;
}
ul.search-result-container > li.video-container > footer.song-player-container > button > img {
    width: 1.6rem;
    height: 1.6rem;
}

ul.search-result-container > li.video-container > footer.song-player-container > p {
    display: flex;
    gap: 0.3rem;
}
ul.search-result-container > li.video-container > footer.song-player-container > p > span {
    font-size: 0.8rem;
}

ul.search-result-container > li.video-container > footer.song-player-container > input {
    width: 100%;

    padding: 0;
}





ul.search-result-container:has(li.song-container) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    gap: 0.5rem;
}

ul.search-result-container > li.song-container {
    align-self: start;
    
    padding: 0.7rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border: 1px solid transparent;
    border-radius: 0.6rem;

    background-color: var(--bg-bo-5);
    transition: 200ms;
    cursor: pointer;
}
ul.search-result-container > li.song-container:hover {
    background-color: var(--bg-wo-5);
}
ul.search-result-container > li.song-container:has(input:checked) {
    border-color: var(--accent-color);
}

ul.search-result-container > li.song-container > h2.song-title-and-artist {
    font-size: 1rem;
    font-weight: normal;
}
ul.search-result-container > li.song-container > input {
    scale: 1.8;
}
